{% extends "simple_template.html" %}

{% block page_content %}
<style>
    /* layout.css Style */
    .upload-drop-zone {
        height: 200px;
        border-width: 2px;
        margin-bottom: 20px;
    }

    /* skin.css Style*/
    .upload-drop-zone {
        border-radius: 30px;
        border-style: dashed;
        border-color: #898989;
        cursor: pointer;
    }

    #inputFile {
        cursor: pointer;
        /* hidden */
        opacity: 0;
        width: 400px;
        height: 195px;
        position: absolute;
    }

    .params {
        border-radius: 10px;
        border-color: #898989;
        border-style: solid;
        border-width: 0.5px;
    }
</style>
<div class="container-fluid" id="vue-app">
    <form @submit.prevent="submitData">
        {% csrf_token %}
        <div class="row pt-2 pb-4">
            <p>A tool to predict the identities of compound clusters based on mass spectrometry features.</p>
            <p>More instructions are available at <a href="{% url 'snapms:docs' %}">the docs</a>.</p>
            <p class="text-danger">WARNING: Cytoscape session import is not yet implemented</p>
        </div>
        <div class="row py-2">
            <h5>1) Upload Mass List or GNPS Network</h5>
        </div>
        <div class="row align-items-center py-2">
            <div class="col-lg-5 pt-1">
                <div class="upload-drop-zone d-flex flex-fill flex-column text-center align-items-center justify-content-center"
                    id="drop-zone" @drop.prevent="handleDrop" @dragover.prevent>
                    <input type="file" id="inputFile" name="inputFile" accept=".csv,.graphml,.cys"
                        @change="handleFile" />
                    <div v-if="this.input_file === null">
                        <h5 class="pb-1">Drag and Drop File Here</h5>
                        <h5>(Click to browse files)</h5>
                        <p>Mass list (<code>.csv</code> format) or
                            GNPS Network (<code>.graphML</code> or Cytoscape session <code>.cys</code>)
                        </p>
                    </div>
                    <div v-else>
                        <b>Selected file:</b> [[ input_file.name ]]
                    </div>
                </div>
            </div>
            <div class="col-lg-2 text-center">
                <h5>OR</h5>
            </div>
            <div class="col-lg-5 mb-4">
                <div class="form-group">
                    <label for="massList">Mass List</label>
                    <textarea class="form-control" placeholder="Enter one mass per row" id="massList"
                        style='height: 195px' v-model="mass_list" :disabled="input_file != null"></textarea>
                </div>
            </div>
        </div>
        <div class="row py-2">
            <h5>2) Select Reference Database</h5>
        </div>
        <div class="row align-items-center justify-content-center py-2">
            <div class="col-lg-2 text-center">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" id="inlineCheckboxFull" value="full"
                        name="refereceDbSelection" checked v-model="reference_db">
                    <label class="form-check-label" for="inlineCheckboxFull">Full NP Atlas</label>
                </div>
            </div>
            <div class="col-lg-2 text-center">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" id="inlineCheckboxBact" value="bacteria"
                        name="refereceDbSelection" v-model="reference_db">
                    <label class="form-check-label" for="inlineCheckboxBact">Bacterial only</label>
                </div>
            </div>
            <div class="col-lg-2 text-center">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" id="inlineCheckboxBact" value="fungi"
                        name="refereceDbSelection" v-model="reference_db">
                    <label class="form-check-label" for="inlineCheckboxBact">Fungi only</label>
                </div>
            </div>
            <div class="col-lg-5 text-center">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <input type="radio" id="inlineCheckboxCustom" value="custom" name="refereceDbSelection"
                                v-model="reference_db">
                            <label class="form-check-label" for="inlineCheckboxCustom">Custom</label>
                        </div>
                    </div>
                    <input type="text" class="form-control" placeholder="Enter a phylum, family, genus, etc."
                        v-model="custom_value">
                </div>
            </div>
        </div>
        <div class="row py-2">
            <h5>3) Set Optional Parameters</h5>
        </div>
        <div class="row justify-content-around py-2">
            <div class="col-5 params">
                <fieldset>
                    <legend class="offset-sm-1 col-form-label col-sm-2 pt-0 fw-bold">Adducts</legend>
                    <div class="row mb-3 align-items-around justify-content-around">
                        <div class="col-md-5 mx-2">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="m_plus_h" value="m_plus_h"
                                    v-model="checked_adducts">
                                <label class="form-check-label" for="m_plus_h">
                                    [M+H]<sup>+</sup>
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="m_plus_na" value="m_plus_na"
                                    v-model="checked_adducts">
                                <label class="form-check-label" for="m_plus_na">
                                    [M+Na]<sup>+</sup>
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="m_plus_nh4" value="m_plus_nh4"
                                    v-model="checked_adducts">
                                <label class="form-check-label" for="m_plus_nh4">
                                    [M+NH<sub>4</sub>]<sup>+</sup>
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="m_plus_h_minus_h2o"
                                    value="m_plus_h_minus_h2o" v-model="checked_adducts">
                                <label class="form-check-label" for="m_plus_h_minus_h2o">
                                    [M-H<sub>2</sub>O+H]<sup>+</sup>
                                </label>
                            </div>
                        </div>
                        <div class="col-md-5 mx-2">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="m_plus_k" value="m_plus_k"
                                    v-model="checked_adducts">
                                <label class="form-check-label" for="m_plus_k">
                                    [M+K]<sup>+</sup>
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="2m_plus_h" value="2m_plus_h"
                                    v-model="checked_adducts">
                                <label class="form-check-label" for="2m_plus_h">
                                    [2M+H]<sup>+</sup>
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="2m_plus_na" value="2m_plus_na"
                                    v-model="checked_adducts">
                                <label class="form-check-label" for="2m_plus_na">
                                    [2M+Na]<sup>+</sup>
                                </label>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="col-6 params pb-2">
                <fieldset>
                    <legend class="offset-sm-1 col-form-label col-sm-2 pt-0 fw-bold">Parameters</legend>
                    <div class="container-fluid">
                        <div class="form-group row align-items-center">
                            <div class="col-sm-4">
                                <input class="form-control text-center" type="number" step="1" min="1" id="ppm_error"
                                    v-model="ppm_error">
                            </div>
                            <div class="col-sm-4">
                                <label class="form-label" for="ppm_error">
                                    ppm error <i class="fa fa-question-circle" data-toggle="tooltip"
                                        data-placement="right" title="Mass tolerance for matching adducts"></i>
                                </label>
                            </div>
                        </div>
                        <div class="form-group row align-items-center">
                            <div class="col-sm-4">
                                <input class="form-control text-center" type="number" step="1" min="0"
                                    id="min_gnps_size" v-model="min_gnps">
                            </div>
                            <div class="col-sm-8">
                                <label class="form-label" for="min_gnps_size">
                                    minimum GNPS cluster size <i class="fa fa-question-circle" data-toggle="tooltip"
                                        data-placement="right"
                                        title="Minimum number of members in GNPS subnetwork to be considered"></i>
                                </label>
                            </div>
                        </div>
                        <div class="form-group row align-items-center">
                            <div class="col-sm-4">
                                <input class="form-control text-center" type="number" step="1" min="0"
                                    id="max_gnps_size" v-model="max_gnps">
                            </div>
                            <div class="col-sm-8">
                                <label class="form-label" for="max_gnps_size">
                                    maximum GNPS cluster size <i class="fa fa-question-circle" data-toggle="tooltip"
                                        data-placement="right"
                                        title="Maximum number of members in GNPS subnetwork to be considered"></i>
                                </label>
                            </div>
                        </div>
                        <div class="form-group row align-items-center">
                            <div class="col-sm-4">
                                <input class="form-control text-center" type="number" step="1" min="0"
                                    id="min_atlas_size" v-model="min_atlas">
                            </div>
                            <div class="col-sm-8">
                                <label class="form-label" for="min_atlas_size">
                                    minimum NP Atlas annotation cluster size <i class="fa fa-question-circle"
                                        data-toggle="tooltip" data-placement="right"
                                        title="Minimum number of members in NP Atlas cluster to be considered"></i>
                                </label>
                            </div>
                        </div>
                        <div class="form-group row align-items-center">
                            <div class="col-sm-4">
                                <input class="form-control text-center" type="number" step="1" min="0" id="min_group"
                                    v-model="min_group">
                            </div>
                            <div class="col-sm-8">
                                <label class="form-label" for="min_group">
                                    minimum compound group size <i class="fa fa-question-circle" data-toggle="tooltip"
                                        data-placement="right"
                                        title="Minimum number of compounds groups to be added as true annotations"></i>
                                </label>
                            </div>
                        </div>
                        <div class="row align-items-center">
                            <div class="col-sm-4 text-center">
                                <input class="form-check-input" type="checkbox" id="deduplicate" v-model="deduplicate">
                            </div>
                            <div class="col-sm-6">
                                <label class="form-check-label" for="deduplicate">
                                    remove duplicates? <i class="fa fa-question-circle" data-toggle="tooltip"
                                        data-placement="right"
                                        title="Remove masses in mass list within ppm error of existing masses"></i>
                                </label>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
        <div class="row py-2">
            <div class="col">
                <button class="btn btn-prim-solid btn-lg" type="submit" :disabled="!formReady()">
                    Submit
                </button>
            </div>
        </div>
    </form>
</div>

<script>
    $(document).ready(() => {
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    })

    function sleep(ms) {
        return new Promise(resolve => setTimeout(resolve, ms));
    }
    var app = new Vue({
        delimiters: ["[[", "]]"],
        el: '#vue-app',
        data: {
            input_file: null,
            mass_list: "",
            reference_db: "full",
            custom_value: "",
            checked_adducts: ["m_plus_h", "m_plus_na", "m_plus_nh4", "m_plus_h_minus_h2o", "m_plus_k", "2m_plus_h", "2m_plus_na"],
            ppm_error: 10,
            min_gnps: 3,
            max_gnps: 5000,
            min_atlas: 3,
            min_group: 3,
            deduplicate: true,
        },
        methods: {
            handleDrop: function (e) {
                let droppedFiles = e.dataTransfer.files;
                if (!droppedFiles) return;
                if (droppedFiles.length > 1) {
                    alert("Only one file can be selected")
                    return
                };
                const allowed = ["graphml", "csv", "cys"]
                let extension = droppedFiles[0].name.split(".").pop().toLowerCase();
                if (!allowed.includes(extension)) {
                    alert(`Extension ${extension} not allowed. Expected one of ${allowed.join(" or ")}.`)
                    return
                }
                this.input_file = droppedFiles[0];
            },
            handleFile: function (e) {
                let selectedFiles = e.target.files;
                if (!selectedFiles) return;
                if (selectedFiles.length === 0) return;
                this.input_file = selectedFiles[0];
            },
            formReady: function () {
                if (this.input_file != null) return true
                if (this.mass_list.length !== 0) return true
                return false
            },
            submitData: async function () {
                console.log("Submit...")
                $("#loader-div").removeClass("d-none")
                // await sleep(3000)
                // POST it using Content-Type: multipart/form-data

                const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value
                let post_data = new FormData();
                post_data.append("file", this.input_file);
                const jsonData = {
                    masslist: this.mass_list,
                    reference_db: this.reference_db,
                    custom_value: this.custom_value,
                    adduct_list: this.checked_adducts,
                    ppm_error: this.ppm_error,
                    min_gnps_size: this.min_gnps,
                    max_gnps_size: this.max_gnps,
                    min_atlas_size: this.min_atlas,
                    min_group_size: this.min_group,
                    remove_duplicates: this.deduplicate,
                }
                post_data.append("metadata", JSON.stringify(jsonData));
                axios.post("{% url 'snapms:handle_snapms' %}", post_data, { headers: { 'X-CSRFToken': csrftoken } }).then(res => {
                    console.log(res)
                    $("#loader-div").addClass("d-none")
                    alert("Thanks for using SnapMS!\nYou will be redirected to your output page.")
                    window.location = `/snapms/output/${res.data.job_id}`
                }, err => {
                    $("#loader-div").addClass("d-none")
                    console.error(err)
                    alert("Failed to submit data... Please contact us at support@npatlas.org")
                });
                $("#loader-div").addClass("d-none")
            }
        }
    })
</script>
{% endblock %}