{% extends 'simple_template.html' %}

{% block page_content %}
{{ job|json_script:"snapms_job" }}
{{ job_id|json_script:"snapms_job_id" }}
<div class="container-fluid border mb-4 py-2">
    <b>Bookmark this page to find your results later.</b>
</div>
<div class="container-fluid" id="vue-app">
    <div class="row" v-if="job === null">
        <h5 class="error">ERROR: Job {{ job_id }} could not be found</h5>
    </div>
    <div class="row" v-else>
        <div class="col-12">
            <h5><b>Job</b> - [[ job_id ]]</h5>
            <h5><b>Status</b> - <span :class="jobStatus">[[ job.fields.status ]]</span></h5>
            <i v-if="!jobDone">The website will automatically check and update the job status every 15 seconds.</i>
        </div>
        <div class="col-12 py-2">
            <p><b>Submitted</b> - [[ job.fields.created ]]</p>
            <p><b>Input</b> - [[ job.fields.inputfile ]]</p>
            <!-- <p><b>Parameters</b> - [[ job.fields.parameters ]]</p> -->
        </div>
        <div class="col-12 pt-4" v-if="job.fields.status === 'completed'">
            <!-- If job was submitted with a masslist input -->
            <a class="btn btn-prim-solid" :href="`/snapms/output/${job_id}/graphml`"
                :download="`snapms_${job_id}.graphml`" v-if="this.job.fields.inputfile.endsWith('csv')">
                Download graphML file
            </a>
            <!-- If job was submitted with a network input -->
            <a class="btn btn-prim-solid" :href="`/snapms/output/${job_id}/graphml`" :download="`snapms_${job_id}.zip`"
                v-else>
                Download zipped graphML files
            </a>
            <a class="btn btn-prim-solid" :href="`/snapms/output/${job_id}/cytoscape`"
                :download="`snapms_${job_id}.cys`">
                Download Cytoscape file
            </a>
        </div>
    </div>
</div>
<script>
    function sleep(ms) {
        return new Promise(resolve => setTimeout(resolve, ms));
    }

    var app = new Vue({
        delimiters: ["[[", "]]"],
        el: '#vue-app',
        data: {
            job_id: null,
            job: {},
        },
        computed: {
            jobDone: function () {
                if (this.job == null) return true
                if (this.job.fields.status === "running" || this.job.fields.status === "queued") return false
                return true
            },
            jobStatus: function () {
                if (this.job == null) return "text-danger"
                if (!this.jobDone) return "text-warning"
                return "text-success"
            }
        },
        created() {
            this.fetchData()
        },
        methods: {
            fetchData: function () {
                this.job = JSON.parse(document.getElementById('snapms_job').textContent)
                this.job_id = JSON.parse(document.getElementById('snapms_job_id').textContent)
                if (!this.jobDone) {
                    this.watchJob()
                }
            },
            watchJob: async function () {
                const result = await axios.get(`/snapms/output/${this.job_id}`);
                this.job = result.data.job
                await sleep(15000)
                if (!this.jobDone) {
                    this.watchJob()
                }
            },
        }
    })
</script>
{% endblock %}